.container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin-bottom: 48px;
}

.title {
  margin-bottom: 4px;
}

.input {
  border-width: 0px;
  padding: 8px;
  border-radius: 4px;
}
